{% extends 'myaccount/base.html' %}

{% block title %}Password Reset Complete{% endblock title %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-lg-6">
        <h2 class="text-center">Password Reset Complete</h2>
        <p class="card p-4 shadow">
            Your password has been successfully reset. You can now <a href="{% url 'user_login' %}">login</a> with your new password.
        </p>
    </div>
</div>
{% endblock content %}