{% extends 'myaccount/base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}



<div class="row d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-lg-6">
        <h1 class="text-center">User Profile Form</h1>
        <form method="POST" action="" enctype="multipart/form-data" class="card p-4 shadow">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">UpdateProfile</button>
        </form>
    </div>
</div>

{% endblock content %}