{% extends 'myaccount/base.html' %}

{% block title %}PasswordChange{% endblock title %}

{% block content %}


<div class="row d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-lg-6" >
        <h1 class="text-center">Change Password</h1>
        <form method="POST" action="" class="card p-4 shadow">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary">Password Change</button>
        </form>
    </div>
</div>
{% endblock content %}